/node_modules
/
/hot
/storage/*.key
/storage/medialibrary/*
/vendor/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/pem
.env
.env.backup
.phpunit.result.cache
google-services.json
/config/*.json
**/.DS_Store

/*.zip

google-services.json