/node_modules
/
/hot
/storage/*.key
/storage/medialibrary/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/pem
.env.backup
.phpunit.result.cache
google-services.json
/config/*.json
**/.DS_Store
**/.apk

**/1.png
**/2.png
**/3.png
**/b_1.png
**/b_2.png
**/borne_pause.png

/*.zip

google-services.json